<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>


	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<!-- Servicio original (opcional) -->
			<service name="WcfMovieService.Service1" behaviorConfiguration="DefaultBehavior">
				<endpoint
					address=""
					binding="basicHttpBinding"
					contract="WcfMovieService.IService1"/>
				<endpoint
					address="mex"
					binding="mexHttpBinding"
					contract="IMetadataExchange"/>
			</service>

			<!-- Nuevo servicio de películas -->
			<service name="WcfMovieService.MovieService" behaviorConfiguration="DefaultBehavior">
				<endpoint
					address=""
					binding="basicHttpBinding"
					contract="WcfMovieService.IMovieService"/>
				<endpoint
					address="mex"
					binding="mexHttpBinding"
					contract="IMetadataExchange"/>
			</service>
		</services>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
